.herobanner{
    background-image: url("../../../src/assets/herobanner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   }
 
   nav {
     height: 300px;
   }

  .nav-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .brand-logo{
    font-size: 60px;
  }

  @media (max-width: 556px){
    nav{
      height: 400px;
    }
  }

  .brand-logo{
   color: black;
   font-weight: bold;
  }
