
.checkbox-luggage{
    margin-right: 50px;
}

.passengersNumberInput{
    margin-bottom: 50px !important;
}

.checkboxes{
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.ng-invalid.ng-touched:not(form){
    border-bottom: 3px solid red;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}