<div class="grid form-container">
  <div class="chosen-flight-info">
    <h2>Flight Form</h2>
    <app-chosen-flight></app-chosen-flight>
  </div>
  <form class="container" #passengerForm="ngForm" (ngSubmit)="send()" ngForm>
    <label for="firstName">First Name</label>
    <input
      type="text"
      placeholder="First Name"
      [(ngModel)]="model.firstName"
      name="firstName"
      required="required"
    />
    <label for="lastName">Last Name</label>
    <input
      type="text"
      placeholder="Last Name"
      [(ngModel)]="model.lastName"
      name="lastName"
      required="required"
    />
    <label for="email">E-mail</label>
    <input
      type="email"
      placeholder="E-mail"
      [(ngModel)]="model.email"
      name="email"
      required="required"
    />
    <label for="phoneNumber">Phone Number (eg. 48000000000)</label>
    <ng-container *ngIf="phoneNumber.invalid && phoneNumber.touched">
      <p class="card-panel red darken-1" *ngIf="phoneNumber.errors">
        Phone number is required
      </p></ng-container
    >
    <input
      type="tel"
      placeholder="Phone number"
      [(ngModel)]="model.phoneNumber"
      name="phoneNumber"
      required
      pattern="\d{11}"
      #phoneNumber="ngModel"
    />
    <label for="address">Address</label>
    <input
      type="text"
      placeholder="Address"
      [(ngModel)]="model.address"
      name="address"
      required="required"
    />
    <label for="numberOfPassengers">Number of Passengers</label>
    <input
      class="passengersNumberInput"
      type="number"
      placeholder="Number of Passengers"
      [(ngModel)]="model.numberOfPassengers"
      min="1"
      max="10"
      name="numberOfPassengers"
      required="required"
    />

    <div class="row">
      <div class="col s12 checkboxes">
        <label for="carryOnBaggage" class="checkbox-luggage">
          <input
            type="checkbox"
            class="filled-in"
            id="carryOnBaggage"
            name="carryOnBaggage"
            [(ngModel)]="model.carryOnBaggage"
          />
          <span>Hand Luggage</span>
        </label>

        <label for="checkedBaggage" class="checkbox-luggage">
          <input
            type="checkbox"
            class="filled-in"
            id="checkedBaggage"
            name="checkedBaggage"
            [(ngModel)]="model.checkedBaggage"
          />
          <span>Checked Luggage</span>
        </label>
      </div>

      <div class="col s12 center-align btn-container">
        <button
          type="submit"
          class="btn waves-effect waves-light orderBtn"
          [disabled]="passengerForm.invalid"
        >
          Order
          <i class="material-icons right">send</i>
        </button>
        <!-- <button type="button" class="backBtn btn go-back-btn" (click)="goBack()">Go Back</button> -->
      </div>
    </div>
  </form>
</div>
