<div class="container">
  <nav class="row">
    <div class="nav-wrapper herobanner">
      <span class="brand-logo center">{{ title }}</span>
      <span class="date">{{ getDate() | date : "fullDate" }}</span>
    </div>
  </nav>

  <!-- <div class="row">
    <button class="btn col s2 offset-s10">Dodaj zadanie</button>
    <button class="btn col s2 offset-s10">Zakończ</button>
  </div> -->

  <div class="row">
    <input
      class="col s8"
      type="text"
      placeholder="Podaj miejsce wylotu"
      [(ngModel)]="departureInputValue"
    />
    <input class="col s2 disabled" type="date" [(ngModel)]="dateInputValue" />
    <input
      class="col s8"
      type="text"
      placeholder="Podaj miejsce przylotu"
      [(ngModel)]="arrivalInputValue"
    />
    <button
      class="btn-floating btnSearch"
      (click)="
        searchData(departureInputValue, arrivalInputValue, dateInputValue);
        departureInputValue = '';
        arrivalInputValue = '';
        dateInputValue = ''
      "
      [disabled]="
        departureInputValue === '' ||
        arrivalInputValue === '' ||
        dateInputValue === ''
      "
    >
      Search
    </button>
  </div>
  <h2>Popularne loty</h2>
  <ul class="collection">
    <li class="collection-item row" *ngFor="let flight of flights">
      <span class="col s10"
        >Departure : {{ flight.departureCity }} -
        {{ flight.departureAirport }} -
        {{ flight.formatDepratureDate() }}
      </span>
      <span class="col s10">
        Arrival : {{ flight.arrivalCity }} - {{ flight.arrivalAirport }} -
        {{ flight.formatArrivalDate() }}</span
      >
      <div class="col s2 right-align">
        <button
          class="btn-floating btn-small green ml-5"
          (click)="choseFlight()"
        >
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
  </ul>

  <section *ngIf="flights.length > 0">
    <h2>Lista lotów</h2>
    <ul class="collection">
      <li class="collection-item row" *ngFor="let flight of flights">
        <span class="col s10"
          >Departure : {{ flight.departureCity }} -
          {{ flight.departureAirport }} -
          {{ flight.formatDepratureDate() }}
        </span>
        <span class="col s10">
          Arrival : {{ flight.arrivalCity }} - {{ flight.arrivalAirport }} -
          {{ flight.formatArrivalDate() }}</span
        >
        <div class="col s2 right-align">
          <button
            class="btn-floating btn-small green ml-5"
            (click)="choseFlight()"
          >
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>
    </ul>
  </section>

  <button class="btn red">Wyczyść</button>

  <section>Formularz</section>
  <section>Informacje o Twoim locie</section>

  <footer class="page-footer mt-5">
    <div class="footer-copyright">
      <div class="container">My GitHub</div>
    </div>
  </footer>
</div>
