.ml-5 {
    margin-left: 5px;
  }
  
  .mt-5 {
    margin-top: 5px;
  }
  
  .done {
    color: silver;
    text-decoration: line-through;
  }
  
  input[type='date'].disabled::-webkit-inner-spin-button {
    display: none;
  }
  
  .content {
    overflow: auto;
    height: 500px;
    max-height: 500px;
  }

  .date {
    margin-left: 20px;
  }

  .search-bar{
    width: 100px;
  }

  .btnSearch{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 20px;
  }