<section *ngIf="flights.length > 0">
    <h2>Lista lotów</h2>
    <ul class="collection">
      <li class="collection-item row" *ngFor="let flight of searchResults">
        <span class="col s10"
          >Departure : {{ flight.departureCity }} -
          {{ flight.departureAirport }} - {{ formatDepartureDate(flight) }}
          
        </span>
        <span class="col s10">
          Arrival : {{ flight.arrivalCity }} - {{ flight.arrivalAirport }} - {{ formatArrivalDate(flight) }}
          </span
        >
        <div class="col s2 right-align">
          <button
            class="btn-floating btn-small green ml-5"
            (click)="flight.id !== undefined && chosenFlight(flight.id)"
            routerLink="/form"
          >
            <i class="material-icons">check</i>
          </button>
        </div>
      </li>
    </ul>
  </section>
