.material-icons{
    background-color: #426492 !important;
}

.btn{
    background-color: #426492 !important;
}

.collection-item{
    background-color: #4263924a !important;
    font-size: 20px !important;
}