<div class="row search-container">
    <input
      class="col s8 departure-input"
      type="text"
      placeholder="Podaj miejsce wylotu"
      [(ngModel)]="departureInputValue"
    />
    <input class="col s2 disabled date-input" type="date" [(ngModel)]="dateInputValue" />
    <input
      class="col s8 arrival-input"
      type="text"
      placeholder="Podaj miejsce przylotu"
      [(ngModel)]="arrivalInputValue"
    />
    <button
      class="btn-floating btnSearch"
      routerLink="/list"
      (click)="
        searchData(departureInputValue, arrivalInputValue, dateInputValue);
        departureInputValue = '';
        arrivalInputValue = '';
        dateInputValue = ''
      "
      [disabled]="
        departureInputValue === '' ||
        arrivalInputValue === '' ||
        dateInputValue === ''
      "
    >
      Search
    </button>
  </div>